.im img {
    width: 300px;
    height: auto;
    margin: auto;
    display: block;
}

.detalle a {
    display: block;
    width: 300px;
    height: auto;
    margin: auto;
    color: #f2f2f2;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
    font-size: 17px;
    overflow: hidden;
    background-color: #333;
}

.detalle a:hover {
    background-color: rgb(75, 73, 73);
}